.container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 180px;
	display: grid;
	gap: 8px;
	justify-content: center;
	align-content: center;
	background-color: #0b46ef;
}
.input {
	width: 220px;
	height: 30px;
	padding-left: 10px;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	background-color: #4aa0ea;
}
.error {
	font-size: 12px;
	color: #4aa0ea;
	align-items: center;
}
.button {
	width: 220px;
	height: 30px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	font-size: 16px;
}
.submit:disabled {
	opacity: 0.5;
}
