.container {
	padding: 20px 40px;
	font-size: 20px;
	width: 530px;
}
.details {
	padding-bottom: 15px;
}
.innerContent {
	padding-left: 27px;
	padding-top: 10px;
}
.edit {
	border: none;
	background-color: white;
	cursor: pointer;
	padding: 10px;
}
.del {
	border: none;
	background-color: white;
	cursor: pointer;
	padding-left: 5px;
}
