.home {
	width: 100%;
	height: calc(100% - 70px);
}
summary {
	cursor: pointer;
	width: 28%;
	font-size: 25px;
}
summary::-webkit-details-marker {
  display: none
}
summary:after {
  background: #5e089e; 
  content: "→"; 
  color: #fff; 
  float: left;  
  font-weight: bold; 
  padding: 0; 
  text-align: center; 
  width: 28px;
  left: 20px;
  margin-right: 10px;
	border-radius: 50%;
}
details[open] summary:after {
  content: "↓";
}
details {
	padding: 20px 0px 20px 20px;
}
dd {
	font-size: 18px;
}
.button {
	width: 28px;
	height: 28px;
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0 4px;
	border-radius: 50%;
	background-color: #5e089e;
	cursor: pointer;
}
.button svg {
	width: 50%;
	height: 50%;
}
.button svg path {
	fill: white;
}
